<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/toUpper" method="post">
      <label for="">Enter in a Phrase to format for Title</label>
      <input type="text" name="title_input" value="">
      <button type="submit" name="button">submit</button>
    </form>
  </body>
</html>
